body {
  position: fixed;
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
}

#nameplate {
  text-align: center;
  padding: 20px;
}

#nameplate, .text-collab-ext .collaborator-cursor-tooltip {
  color: white;
  font-size: 24px;
  font-family: sans-serif;
}

textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex: 1;
  line-height: 1.2;
  font-size: 24px;
}

.text-collab-ext {
  position: absolute;
  pointer-events: none;
}

.text-collab-ext .text-collab-ext-scroller {
  position: absolute;
  width: 100%;
}

.text-collab-ext .collaborator-cursor {
  position: absolute;
  width: 2px;
  opacity: 0.8;
}

.text-collab-ext .collaborator-cursor-tooltip {
  position: absolute;
  white-space: nowrap;
  opacity: 1.0;
  padding: 2px;

  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
}
